.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    .modal {
        .modal-header {
            justify-content: center;
            padding: 0;

            .btn-close {
                position: absolute;
                right: 0;
                top: 0;
                border: none;
                font-size: 20px;
                padding: 15;
                cursor: pointer;
                font-weight: bold;
                color: red;
            }
        }
    }


}