.lottery {
    margin: 0 auto;
    color: #fff;
    position: relative;

    .neon-container {
        height: auto;

        .neon-text {
            position: absolute;
            width: 100%;
            height: auto;
            padding: 60px 0 60px;
            text-align: center;

            h1 {
                height: auto;
                letter-spacing: 5px;
                text-transform: uppercase;
                font-size: 70px;
                filter: blur(1px);
                font-weight: 100;
                text-shadow: 0 0 10px rgba(255, 255, 255, 1),
                    0 0 20px rgba(255, 255, 255, 1),
                    0 0 40px rgba(255, 255, 255, 1),
                    0 0 80px rgba(255, 255, 255, 1),
                    0 0 160px rgba(255, 255, 255, 1);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #00adff;
                z-index: 1;
                mix-blend-mode: color;
                animation: neon 10s linear infinite;
            }
        }


        @keyframes neon {
            0% {
                filter: hue-rotate(0deg);
            }

            100% {
                filter: hue-rotate(360deg);
            }
        }
    }


    .lottery-informations {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;

        .name-lottery-container {
            width: 40%;
            height: 40%;
            border: 1px solid #15f4ee;
            border-radius: 25px;
            box-shadow: 0 2px 25px 0 #15f4ee inset, 0 2px 25px #15f4ee,
                0 2px 25px 0 #15f4ee inset, 0 2px 25px #15f4ee;
            transition: 1.5s;

            &:hover {
                box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px #15f4ee,
                    0 5px 50px 0 #15f4ee inset, 0 5px 50px #15f4ee;
            }
        }

        .result-lottery-container {
            width: 40%;
            height: 40%;
            border: 1px solid #15f4ee;
            border-radius: 25px;
            box-shadow: 0 2px 25px 0 #15f4ee inset, 0 2px 25px #15f4ee,
                0 2px 25px 0 #15f4ee inset, 0 2px 25px #15f4ee;
            transition: 1.5s;

            &:hover {
                box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px #15f4ee,
                    0 5px 50px 0 #15f4ee inset, 0 5px 50px #15f4ee;
            }
        }
    }
}